<!-- GRADIENT -->
<div class="container-fluid py-5" style="background: var(--custom-gradient);">
    <div class="container d-flex justify-content-center p-5">

        <div class="row">

            <!-- DIV DE LOGIN -->
            <div class="border border-dark rounded-2 bg-white p-4">

                <!-- TITLE -->
                <div class="text-center">
                    <p class="fs-4 fs-md-2 fw-bold text-secondary">Entrar no seu perfil</p>
                    <p class="">Não possui uma conta? <a href="" class="text-decoration-none">Criar uma conta</a></p>
                </div>

                <form class="" role="search">
                    <label for="input_email">E-mail:</label>
                    <input class="col-12 form-control border border-dark rounded-2 mb-4"
                           type="text" aria-label="Search" id="input_email">

                    <div class="d-flex justify-content-between">
                        <label for="input_senha">Senha:</label>
                        <a href="" class="text-decoration-none">Esqueceu a senha?</a>
                    </div>
                    <input class="col-12 form-control border border-dark rounded-2 mb-4"
                           type="text" aria-label="Search" id="input_senha">

                    <input class="" type="checkbox" aria-label="Search" id="lembrar">
                    <label for="lembrar">Lembre-se de mim</label>

                    <div class="container d-flex justify-content-center py-3">
                        <button class="col-12 btn btn-dark border border-dark" type="submit">
                            Entrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
