@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --verde_main: #00ac70;
    --verde_claro: #50d2a5;
    --azul_main: #263f8c;
    --azul_claro: #6482e1;
    --destaque: #6b1c1c;
    --gradiente_main: linear-gradient(-75deg, var(--azul_main), var(--verde_main));
    --branco1: #e9e9e9;
    --branco2: #d9d9d9;
    --cinza1: #a6a6a6;
    --preto1: #2f2f2f;
    --h1: 30px; 
    --h2: 25px;
    --p: 20px;
    --p_inside: 18px;
    --p_menor: 15px; 
    --p_smaller: 13px;
    --div_medium: 400px;
    --max-width: 1600px;
}

body {
    font-family: "poppins";
    background-color: var(--branco1);
}

a {
    text-decoration: none;
}

.branco1 {
    color: var(--branco1);
}

.h1 {
    font-size: var(--h1);
}

.s {
    font-size: var(--p_menor);
}

.m {
    font-size: var(--p);
}

.x {
    font-size: var(--h2);
}

.preto1 {
    color: var(--preto1);
}

.cinza1 {
    color: var(--cinza1);
}

.verde {
    color: var(--verde_main);
}

.azul {
    color: var(--azul_main);
}

/* ----- HEADER ----- */

header {
    margin: 0 auto;
    padding: 0 5rem;
    height: 65px;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--branco1);
}

.logo {
    height: 55px;
    width: auto;
}

.logo img {
    height: 100%;
}

nav {
    height: 75px;
    display: flex;
    align-items: center;
}

.nav_links {
    display: flex;
    gap: 3rem;
}

.nav_links li {
    display: inline-block;
    list-style: none;
    font-size: var(--p);
}

.nav_links li a {
    transition: all 0.3s;
}

.nav_links li a:hover {
    color: var(--cinza1);
}

.btn_entrar {
    height: 40px;
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--preto1);
    transition: all 0.3s ease-in;
}

.btn_entrar:hover {
    background-color: var(--verde_main);
}

.btn_entrar img {
    width: 30px;
}

.btn_entrar p {
    font-size: var(--p_inside);
    color: var(--branco1);
}

.menu {
    display: none;
}

@media (max-width: 850px) {
    header {
        max-width: 100%;
        padding: 0 3rem;
        overflow: hidden;
    }

    nav {
        display: none;
    }

    .btn_entrar {
        margin-left: 30%;
    }

    .menu {
        display: flex;
        align-items: center;
    }

    .menu img {
        height: 50px;
    }
}

@media (max-width: 650px) {
    header {
        padding: 1.5rem;
    }

    .btn_entrar{
        display: none;
    }
}

/* Estilos das seções do site */
section {
    padding: 50px;
    text-align: center;
}

h1 {
    color: #263F8C;
}
h3 {
    color: #000000;
}
h2 {
    color: #ffffff;
}

p {
    color: #ffffff;
    font-size: 18px;
}
.Criarconta {
    margin: 0 auto;
    margin-top: 2rem;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
    max-height:800px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    color: #555;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.dob-sexo {
    display: flex;
    justify-content: space-between;
}

.dob,
.sexo {
    width: 48%;
}

button {
    background-color: #2F2F2F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

p {
    text-align: center;
    /* margin-top: 20px; */
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}